* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #134e5e, #71b280);
}
nav {
  width: 80%;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}
.nav-links {
  flex: 1;
  text-align: center;
}
.Pet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "a1 a2 a3 a4"
    "b1 b2 b3 b4"
    ". . . .";
}

#a1 {
  grid-area: a1;
  height: 25vh;
  background: url("images/42b.png");
}
#a1:hover {
  background: url("images/42b.gif");
}
#a3 {
  grid-area: a3;
  height: 25vh;
  background: url("images/0d3.png");
}
#a3:hover {
  background: url("images/0d3.gif");
}

#a2 {
  grid-area: a2;
  height: 25vh;
  background: url("images/Yellow.png");
}
#a2:hover {
  background: url("images/3da.gif");
}
#b2 {
  grid-area: b2;
  height: 40vh;
  background: url("images/cat.png");
}
#b2:hover {
  background: url("images/cat.gif");
}
