* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #134e5e, #71b280);
}
nav {
  width: 80%;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}
.nav-links {
  flex: 1;
  text-align: center;
}
.Pet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  height: 100%;
  grid-template-areas:
    "a1 a2 a3"
    "b1 b2 ."
    ". . .";
}

#a1 {
  grid-area: a1;
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center;
  background-image: url("images/42b.png");
}
#a1:hover {
  width: auto;
  background-size: cover;
  background-position: center;
  background-image: url("images/42b.gif");
}

#a2 {
  grid-area: a2;
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: top;
  background-image: url("images/Yellow.png");
}
#a2:hover {
  width: auto;
  background-size: cover;
  background-position: 100%;
  background-image: url("images/3da.gif");
}
#a3 {
  grid-area: a3;
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center;
  background-image: url("images/0d3.png");
}
#a3:hover {
  width: auto;
  background-size: cover;
  background-position: center;
  background-image: url("images/0d3.gif");
}
#b1 {
  grid-area: b1;
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: 50% 30%;
  background-image: url("images/Bitchcat.jpg");
}
#b1:hover {
  width: auto;
  background-size: cover;
  background-position: 50% 80%;
  background-image: url("images/Bitchcat.gif");
}
#b2 {
  grid-area: b2;
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: top;
  background-image: url("images/cat.png");
}
#b2:hover {
  width: auto;
  background-size: cover;
  background-position: center;
  background-image: url("images/cat.gif");
}

.pet-container {
  position: relative;
}

.pet-counter {
  font-size: 2rem;
  border: 2px white solid;
  background-color: black;
  border-radius: 50%;
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  vertical-align: center;
}
